{#
Vista para copias de seguridad.
Actualizado por GUBS, RAGZ, 2019
#}
{% extends "base2.html.twig" %}
{% block title %}Copias de seguridad{% endblock %}
{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}

    <h3 class="center azul-prof fuente">Copias de seguridad</h3>
    <div class="divider2"></div>
        <div class="col s12 center">
        <a class="waves-effect waves-light btn blue darken-2" href="">Realizar copia<i class="material-icons right">send</i></a>
    </div>
{% endblock %}
